.grid {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.grid__img {
    border: 1px solid #ccc;
    width: 38rem;
    height: 21.4rem;
    margin: 1rem 0 0;
    border-radius: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  
}

@media (max-width: 792px) {
    .grid__img {
        width: 100%;
    }
}