.search-box {
    position: relative;
    width: 35rem;
    font-size: 2rem;
    color: #000000;
    border: 0.1rem solid #dddddd;
    border-radius: 2.5rem;
    cursor: pointer;
}

.search {
    width: 100%;
    height: 3rem;
    padding: 2rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 2.5rem;
    font-size: 2rem;
    cursor: text;
    transition: all .3s ease-in-out;

    &:focus.search {
        color: #7fc769;
        box-shadow: 5px 5px 5px #ff5e00;
        border: 0.5px;
    }

}

.search__icon {
    position: absolute;
    top: 20%;
    right: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../assets/img/search-grey.svg") center no-repeat;
    transition: .5s linear;
    background-size: cover;

    &:hover {
        background: url("../assets/img/search-color.svg") center no-repeat;
        background-size: cover;
    }
}

.clear-search {
        display: none;
    position: absolute;
    top: 20%;
    right: 5rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../assets/img/close-grey.svg") center no-repeat;
    background-size: cover;
    transition: .5s linear;

    &:hover {
        background: url("../assets/img/close-color.svg") center no-repeat;
        background-size: cover;
    }
}

.hidden {
    display: none;

}

.visible {
    display: block;

}