@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 700;
       
}

.header {
    flex: 0 0 auto; 
}

.main {
flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

